body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8d3bd;
  margin: 0;
  padding: 90px 0 70px 0;
  position: relative;
}

.wrapper {

  width: 300px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;


}

.wrapper .input_box {

  position: relative;
}

.input_box input {
  width: 70%;
  height: 22px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 40px;
}

.input_box i {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;


}

.wrapper .btn {
  background-color: #e8d3bd;
  color: #000;
  border: none;
  outline: none;
  border: 15px solid rgba(0, 0, 0, .2);

  width: 100px;
  height: 30px;

  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;

}

.wrapper .is-admin .type {
  width: 20%;
  height: 22px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 40px;

}

.wrapper .is-admin .select {
  width: 20%;
  height: 22px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 40px;
  background-color: #f0f0f0;
}