/* Common styles for all pages */
* {
  font-family: "Merriweather", serif;
}

body {
  background-color: #e8d3bd;
  margin: 0;
  padding: 90px 0 70px 0;
}

/* header section */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 90px;
  background-color: #935732;
  display: flex;
  justify-content: space-between;
}

header>* {
  display: flex;
  align-items: center;
}

.navBar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.logo {
  height: 86px;
  width: 86px;
  padding-right: 20px;
}

.logo img {
  height: 80px;
  border-radius: 50%;
  border: 3px solid black;
}

.navItem {
  font-size: 1.5em;
  font-weight: 700;
  border-left: 2px solid white;
}

.profileSection a {
  padding: 0 10px;
}

.profileSection .profilePic {
  height: 70px;
  width: 70px;
}

.profilePic img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.profileSection button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  border: 2px solid #b96e1e;
  cursor: pointer;
  color: white;
  font-weight: 700;
  background-color: #f39028;
  font-family: Merriweather, Georgia, serif;
  padding-top: 60px;
  width: 940px;
}

/* footer section */
footer {
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}



header nav {
  float: left;
  margin-left: 20px;
}

header nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
}

header nav a.logo {
  font-weight: bold;
}

header nav a:hover {
  background-color: #A0522D;
  /* Darker brown color on hover */
}

header div {
  float: right;
  margin-right: 20px;
}

header div a {
  color: white;
  text-decoration: none;
}

header div button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

header div button:hover {
  background-color: #A0522D;
  /* Darker brown color on hover */
}

/* Adjusted Styles for Sign Out Button */
header div a.sign-out-btn {
  display: inline-block;
  margin-left: 20px;
}