/* Common styles for all pages */
* {
  font-family: "Merriweather", serif;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #e8d3bd;
  margin: 0;
  padding: 90px 0 70px 0;
  position: relative;
}

/* header section */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 90px;
  background-color: #935732;
  display: flex;
  justify-content: space-between;
}

header>* {
  display: flex;
  align-items: center;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.logo {
  height: 86px;
  width: 86px;
  padding-right: 20px;
}

.logo img {
  height: 80px;
  border-radius: 50%;
  border: 3px solid black;
}

.nav-item {
  font-size: 1.5em;
  font-weight: 700;
  border-left: 2px solid white;
}

.profile-section a {
  padding: 0 10px;
}

.profile-section .profile-pic {
  height: 70px;
  width: 70px;
}

.profile-pic img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.profile-section button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  border: 2px solid #b96e1e;
  cursor: pointer;
  color: white;
  font-weight: 700;
  background-color: #f39028;
}

/* footer section */
footer {
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}