/* Navigation Bar Styles */
/* Header Styles */
/* Header Styles */
/*background-color: #382110;*/
header {
  background-color: #382110;
  /* Brown color for the header */
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* Ensures the header stays on top of other content */
}

header nav {
  float: left;
  margin-left: 20px;
}

header nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
}

header nav a.logo {
  font-weight: bold;
}

header nav a:hover {
  background-color: #A0522D;
  /* Darker brown color on hover */
}

header div {
  float: right;
  margin-right: 20px;
}

header div a {
  color: white;
  text-decoration: none;
}

header div button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

header div button:hover {
  background-color: #A0522D;
  /* Darker brown color on hover */
}

/* Adjusted Styles for Sign Out Button */
header div a.sign-out-btn {
  display: inline-block;
  margin-left: 20px;
}

/* Page Content Styles */
body {
  background-color: #F5F5DC;
  /* Beige color for the page */
  margin: auto;
  font-family: Merriweather, Georgia, serif;
  padding-top: 60px;
  /* Adjust to match the height of your header */
  width: 940px;
}

/* Add some space below the header to prevent content from being hidden */
.content {
  padding: 20px;
}