{% extends 'base.html' %}
{% load static %}

{% block title %}
  Add Book
{% endblock %}

{% block css_js %}
  <link rel="stylesheet" href="{% static 'css/add-book.css' %}" />

  <script>
    function toggleCheckbox(id) {
      var checkbox = document.getElementById(id);
      checkbox.checked = !checkbox.checked;
    }
  </script>
{% endblock %}

{% block content %}
  <img class="image" src="{% static 'images/background13.jpg' %}" alt="" />
  <form id="add-book-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="add-book-header">Add Book</h1>
    <div class="form-item">
      <input class="normal-input" type="text" name="title" required />
      <span>Title</span>
    </div>

    <div class="form-item">
      <input class="normal-input" type="text" name="author" required />
      <span>Author</span>
    </div>
    <div class="form-item">
      <input class="normal-input date-picker" type="date" name="date-published" required />
      <span>Publishing Date</span>
    </div>
    <div class="form-item">
      <input
        class="normal-input rating"
        type="number"
        name="rating"
        min="1"
        max="5"
        step="0.01"
        required
      />
      <span>Global Rating</span>
    </div>
    <span class="categories">CATEGORIES : </span>
    <div class="category-inputs">
      {% for category in categories %}
      <div class="category-item">
        <input
          type="checkbox"
          id="{{ category }}"
          class="input"
          name="options"
          value="{{ category }}"
        />
        <div class="custom-checkbox" onclick="toggleCheckbox('{{ category }}')">
          {{ category }}
        </div>
      </div>
      {% endfor %}
    </div>
    <textarea
      name="description"
      rows="10"
      cols="35"
      style="resize: none"
      placeholder="Add some description to the book..."
      class="book-desc"
    ></textarea>
    <div class="add-image">
      <label for="book-cover-input" class="custom-file-upload">
        Upload Book Cover
      </label>
      <input
        id="book-cover-input"
        type="file"
        name="cover"
        required
        accept="image/*"
        class="upload-btn"
        style="display: none"
      />
      <br />
      <img id="image-preview" class="image-preview" />
    </div>
    <button type="submit" class="submit-button">submit</button>
  </form>
  <script>
    const fileInput = document.getElementById("book-cover-input");
    const imagePreview = document.getElementById("image-preview");
    const addBookForm = document.getElementById("add-book-form");

    const datePublishedPicker = document.querySelector(".date-picker")
    const today = new Date().toISOString().split('T')[0];
    datePublishedPicker.setAttribute('max', today);

    const rating = document.querySelector(".rating");

    const preventedCharcaters = ['+', '-', 'e', 'E'];

    fileInput.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function () {
          imagePreview.src = reader.result;
        };
        reader.readAsDataURL(file);
      } else {
        imagePreview.src = "";
      }
    });
    addBookForm.addEventListener("submit", () => alert("Your book has been added!!") );
     
    rating.addEventListener("keypress", (event) => {
      if(preventedCharcaters.includes(event.key)){
        event.preventDefault();
      }
    })
  </script>
{% endblock %}
