{% extends 'base.html' %}
{% load static %}

{% block title %}
Book Page
{% endblock %}

{% block css_js %}
<link rel="stylesheet" href="{% static 'css/book-page.css' %}" />
<script src="{% static 'js/bookPage.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="book-cover">
  <img src="{{ book.cover.url }}" width="236" height="363" valign="top" style="float: left" />
  {% if user.is_superuser and book.isAvailable %}
  <form id="delete-form" action="/delete/{{ book.id }}/" method="DELETE">
    {% csrf_token %}
    <button class="delete-button">Delete</button>
  </form>
  
  {% else %}
  {% if book.isAvailable %}
  <form action="/borrow/{{ book.id }}/" method="POST">
    {% csrf_token %}
    <button id="borrow-button" class="borrow-button">Borrow</button>
  </form>
  {% elif user.is_superuser %}
  <button class="unavailable" disabled>Delete</button>
  {% else %}
  <button class="unavailable" disabled>Unavailable</button>
  {% endif %}



  {% endif %}

  <p id="error"></p>
</div>
<div class="container">
  <div class="book-details">

    <div class="book-name-rating">
      <span class="book-name"><b>{{book.title}}</b></span><span style="margin-left: 28px" class="rating">Rating:
        {{ book.rating.normalize }}</span>
    </div>
    <div class="author">
      <b>Author : </b>
      {{book.author}}
    </div>

    <div class="story-description">
      <b>Story: </b>

      <p class="story-paragraph">
        {{book.story}}
      </p>
    </div>
    <div class="category">
      <p>Categories:</p>
      <ul>
        {% for category in book.categories.all %}
        <li>{{ category.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="add-review">
    <a href="/review/{{ book.id }}/"><button>Add Review</button></a>
  </div>

  <h2 class="reviews-word">Reviews</h2>
  <div class="reviews">
    {% for review in reviews %}
    <div class="review">
      <span class="username">{{ review.user }}:</span>
      <span class="rating">Rating: {{ review.rating.normalize }}/5</span>
      <p class="review-content">{{ review.review }}</p>
    </div>
    {% endfor %}
  </div>
  {% if user.is_superuser %}
  <a id="edit-button" href="./edit-book.html"><button class="edit-button">Edit Book Details</button></a>
  {% endif %}
</div>
{% endblock %}