{% extends 'base.html' %}
{% load static %}

{% block title %}
  Welcome to Our Online Library!
{% endblock %}

{% block css_js %}
  {% if user.is_superuser %}
    <link rel="stylesheet" href="{% static 'css/search-results.css' %}" />
  {% else %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  {% endif %}
  <script src="{% static 'js/display-books.js' %}" is-admin="{{ user.is_superuser }}" defer></script>
{% endblock %}

{% block content %}
  <div class="books">
    <div class="filters">
      <div class="available">
        <input type="checkbox" />
        <label for="available" class="available-label">Available Only</label>
      </div>

      <select class="category-menu drop-down">
        <option value="any-category">Any Categroy</option>
        {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
      </select>

      <select class="sort-by drop-down">
        <option value="-dateAdded">Date Added (Newest)</option>
        <option value="dateAdded">Date Added (Oldest)</option>
        <option value="-datePublished">Date Published (Recently)</option>
        <option value="datePublished">Date Published (Oldest)</option>
        <option value="-rating">Rating (Highest)</option>
        <option value="rating">Rating (Lowest)</option>
        <option value="title">Title (A to Z)</option>
        <option value="-title">Title (Z to A)</option>
      </select>
    </div>
    <div class="next-previous-pages">
      <p class="page-number"></p>
      <div class="change-page-buttons">
        <button class="previous-button">previous</button>
        <button class="next-button">next</button>
      </div>
    </div>
  </div>
{% endblock %}
