{% extends 'base.html' %}
{% load static %}

{% block title %}
  Register
{% endblock %}

{% block css_js %}
  <link rel="stylesheet" href="{% static 'css/auth-form.css' %}" />
{% endblock %}

{% block content %}
  <form id="registerForm" action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <h1>Register</h1>
    <div class="input_box">
      <label><i class="bx bxs-user"></i></label>

      {{form.username}}
    </div>

    <div class="input_box">
      <label><i class="bx bxs-envelope"></i></label>
      {{form.email}}
    </div>

    <div class="input_box">
      <label><i class="bx bxs-lock-alt"></i></label>
      {{form.password1}}
    </div>
    <div class="input_box">
      <label><i class="bx bxs-lock-alt"></i></label>
      {{ form.password2 }}
    </div>

    <div class="is-admin">
      <label>Are you an Admin?</label>
      {{form.is_superuser}}
    </div>
    {% if form.errors %}
      {% for errors in form.errors.values %}
        {% for error in errors %}
            <p id="error">{{ error }}</p>
        {% endfor %}
      {% endfor %}
    {% endif %}
    <button id="submitButton" type="submit" class="btn">Register</button>

    <div class="have-account">
      <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
  </form>
{% endblock %}
