{% extends 'base.html' %}
{% load static %}

{% block title %}
  Review Book
{% endblock %}

{% block css_js %}
  <link rel="stylesheet" href="{% static 'css/review-book.css' %}" />
{% endblock %}

{% block content %}
  <img src="{{ book.cover.url }}" class="image" />
  <form class="review-container" action="/review/{{ book.id }}/" method="POST">
    {% csrf_token %}
    <h2 class="title">{{ book.title }}</h2>
    <div class="score">
      {{ form.rating }}
    </div>
    <div class="review">
      {{ form.review }}
    </div>
    {% if form.errors %}
      {% for errors in form.errors.values %}
        {% for error in errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
      {% endfor %}
    {% endif %}
    <input type="submit" class="submit" value="Submit Your Review" />
  </form>
{% endblock %}
