{% extends 'base.html' %}
{% load static %}

{% block title %}
  Sign in
{% endblock %}

{% block css_js %}
  <link rel="stylesheet" href="{% static 'css/auth-form.css' %}" />
{% endblock %}

{% block content %}
  <form id="loginForm" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <h1>Sign in</h1>
    <div class="input_box">
      {{form.username.errors}}
      <label><i class="bx bxs-envelope"></i></label>

      {{form.username}}
    </div>

    <div class="input_box">
      {{form.password.errors}}
      <label><i class="bx bxs-lock-alt"></i></label>
      {{form.password}}
    </div>

    <div class="remember-forgot">
      <label><input type="checkbox" /> Remember me</label>

      <a href="#">Forgot Password?</a>
    </div>
    <p id="error"></p>
    <button type="submit" class="btn" id="submitButton">Sign in</button>

    <div class="register-link">
      <p>don't have an accout?<a href="/register"> Register here</a></p>
    </div>
  </form>
{% endblock %}
